<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48160595211-78ah1qbog1m3ahs4ffcvcr3ldqphnecs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48160595211-78ah1qbog1m3ahs4ffcvcr3ldqphnecs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>48160595211-h3m4ohkod6jld2bvvtvdsmf9g4ouhi6t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCvJLHSz4ixzV795o1yWD4j_QUjVyjIlP4</string>
	<key>GCM_SENDER_ID</key>
	<string>48160595211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.futsolmania.futsolmaniaowner</string>
	<key>PROJECT_ID</key>
	<string>fusole-mania-project</string>
	<key>STORAGE_BUCKET</key>
	<string>fusole-mania-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48160595211:ios:f93157eaead64068db560e</string>
	<key>DATABASE_URL</key>
	<string>https://fusole-mania-project.firebaseio.com</string>
</dict>
</plist>